
.light {
  background-color: cornflowerblue;
  padding: 5px 4%;
  width: 10%;
  margin-left: 25%;
  border-radius: 15%;
  border-style: solid;
  float: left;
}

.light .light-on {
  background-color: yellow;
  padding: 20px 18px;
  margin: 5px;
  width: 5px;
  border-radius: 50%;
}

.light .light-off {
  background-color: darkslategrey;
  padding: 20px 18px;
  margin: 5px;
  width: 5px;
  border-radius: 50%;
}
