
<div class="room-container">
    <div class="room-name">{{roomActionData.room}}</div>
    <ng-template action-directive></ng-template>
</div>



<!--<ul *ngFor="let roomAction of roomActions;-->
            <!--let i = index;-->
            <!--let isOdd = odd;-->
            <!--let isLast = last;-->
            <!--let isFirst = first">-->

  <!--<li [ngClass]="roomClass(isOdd)">-->
    <!--<b>{{i}}. </b>-->
    <!--<i>-->
      <!--{{roomAction.room}}-->


      <!--<action-component [wsClient]="wsClient" [userName]="userName" [action]="action"></action-component>-->

      <!--&lt;!&ndash;<div [ngClass]="actionClasses(isOdd)" (click)="actionClicked(action)">&ndash;&gt;-->
        <!--&lt;!&ndash;<action-component [wsClient]="wsClient" [userName]="userName" [action]="action"></action-component>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;<div *ngFor="let action of roomAction.actions; let isOdd = odd">&ndash;&gt;-->
        <!--&lt;!&ndash;<div [ngClass]="actionClasses(isOdd)" (click)="actionClicked(action)">&ndash;&gt;-->
          <!--&lt;!&ndash;<action-component [wsClient]="wsClient" [userName]="userName" [action]="action"></action-component>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->


      <!--&lt;!&ndash;<ng-template [ngIf]="isLast">&ndash;&gt;-->
      <!--&lt;!&ndash;<span> - ultimul</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->

      <!--&lt;!&ndash;<ng-template [ngIf]="isFirst">&ndash;&gt;-->
      <!--&lt;!&ndash;<span> - primul</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->

      <!--&lt;!&ndash;<span *ngIf="isLast"> - ultimul</span>&ndash;&gt;-->
      <!--&lt;!&ndash;<span *ngIf="isFirst"> - primul</span>&ndash;&gt;-->
    <!--</i>-->
  <!--</li>-->
<!--</ul>-->
